@model RoadDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Road</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
    <a asp-action="Index" class="btn btn-outline-danger"><i class="bi bi-arrow-return-left"></i> Volver a lista</a>
</div>
